extends layout

block content
 
  <div class="main">
          <div id="carouselId" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselId" data-slide-to="1"></li>
                  <li data-target="#carouselId" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <div class="carousel-caption">
                        <h3 class="hover-underline-animation">Lamborghini Aventador</h3>
                    </div>
                        <img src="/images/car1.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                        <h3 class="hover-underline-animation">Lamborghini Huracan</h3>
                    </div>
                      <img src="/images/car2.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption">
                        <h3 class="hover-underline-animation">Lamborghini Aventador S</h3>
                    </div>
                      <img src="/images/car3.jpg" alt="Third slide">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
          </div>
               <div class="card-deck">
                <div class="set1">
                <div class="card">
                  <img class="card-img-top"  src="/images/card1.jpg" alt="">
                   <div class="carousel-caption ">
                    <h4 class="hover-underline-animation">Eating right is part of my lifestyle now.</h4>
                      </div>
                    </div>
                <div class="card">
                    <img class="card-img-top" src="/images/card2.jpg" alt="">
                      <div class="carousel-caption">
                    <h4 class="hover-underline-animation">Security isn’t just a technology problem it’s about design, too</h4>
                      </div>
                    </div>
                </div>
                <div class="set2">
                <div class="card">
                    <img class="card-img-top" src="/images/card3.jpg" alt="">
                    <div class="carousel-caption">
                        <h4 class="hover-underline-animation">Traditional design won’t save us in the COVID-19 era</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="carousel-caption">
                        <h4 class="hover-underline-animation">New: Freehand Templates, built for the whole team</h4>
                    </div>
                    <img class="card-img-top" src="/images/card4.jpg" alt="">
           
                      </div></div>
                         </div>
      
                <div class="travel">
                  <div class="slot 1">
                    <img src="/images/slot1.jpg" alt="">
                    <h4 class="hover-underline-animation ">Competitive Advantage in a Commoditized Industry</h4>
                  </div>
                  <div class="slot 2">
                      <img src="/images/slot2.jpg" alt="">
                      <h4 class="hover-underline-animation">Fashion portrait of young businessman handsome model man in casual cloth.</h4>
          </div>
          <div class="slot 3">
              <img src="/images/slot3.jpg" alt="">
              <h4 class="hover-underline-animation">Eating right is part of my lifestyle now.</h4>
          </div>
            <div class="slot 4">
                <img src="/images/slot4.jpg" alt="">
                <h4 class="hover-underline-animation">Security isn’t just a technology problem it’s about design, too</h4>
            </div>
              </div>
              </div>
  <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-snapchat"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
            </div>

